body{
    background-color: #1E3759;
    margin: 0;
    padding: 0;
    
}

.topmeny{
    text-align: center;
    background-color:#0B5E87;
    color: white;
    height: 65px;
    width: 355px;
    top: 50%;
    box-shadow: 1px 5px 5px rgb(0, 0, 0);
}
.level{
    float: left;
    margin-top: 13px;
    font-size: 30px;
    color: #1FC23A;
    font-family: 'Play', sans-serif;
    margin-left: 15px;
    text-shadow: 0px 5px 5px rgb(14, 24, 14);
    
    /* width:30%; */
}

.iconrestart {
    position: relative;
    width: 31px;
    height: 31px;
    left: 200px;
    top: 15px;
    overflow: visible;
    background-image: url(restart.png);
    box-shadow: 1px 5px 5px rgb(0, 0, 0);
    
    
}

.iconpause {
    position: relative;
    width: 31px;
    height: 31px;
    
    top: -16px;
    overflow: visible;
    left: 255px;
    background-image: url(pause.png);
    box-shadow: 1px 5px 5px rgb(0, 0, 0);
    
    
}


.home{
    position: fixed;
    width: 31px;
    height: 31px;
    
    top: 16px;
    overflow: visible;
    left: 310px;
    background-image: url(hem.png);
    box-shadow: 1px 5px 5px rgb(0, 0, 0);
}




.lives{
    float: left;
    margin-top: 20px;
    font-size: 30px;
    color: #1FC23A;
    font-family: 'Play', sans-serif;
    margin-left: 15px;
    /* font-family: 'Press Start 2P', cursive; */
    text-shadow: 0px 5px 5px rgb(14, 24, 14);
    
}
.hjärta{
    float: left;
    margin-top: 10px;
    font-size: 45px;
    color: #DB0909;
    
    margin-left: 5px;
    
}
#spelruta{
    width: 321px;
    border: solid 3px #0B5E87;
    /* background-color: rgb(131, 124, 124); */
    position: relative;
    height: 322px;
    margin-top: 75px;
    margin-left: 10px;
    box-shadow: 1px 2px 5px rgb(0, 0, 0);
    
}
.bild{
    height: 330px;
    width: 330px;
}

.pilupp{
    position: fixed;
    font-size: 60px;
    color:#1FC23A;
    top: 460px;
    left: 156px;
    z-index: 2;
}



.pilvänster{
    position: fixed;
    font-size: 60px;
    color:#1FC23A;
    top: 542px;
    left: 74px;
    display: inline-block;
    z-index:  2;
}
    

.pilhöger{
    position: fixed;
    font-size: 60px;
    color:#1FC23A;
    top: 542px;
    left: 238px;
    display: inline-block;
    z-index: 2;
    
}


.pilner{
    position: fixed;
    font-size: 60px;
    color:#1FC23A;
    top: 624px;
    left: 156px;
    display: inline-block;
    z-index: 2;
}



.cat{
    width: 20px;
    height: 20px;
    display: inline-block;
}
.marken{
    background-image: url(grå.png);
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-bottom: 0px;
    
 
}
.monster{
    width: 20px;
    height: 20px;
    display: inline-block;
}
.wall{
    width: 20px;
    height: 20px;
    display: inline-block;
}

#spelruta > div {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: top;
    
}
.bilder{
    margin: 0px;
}
.mål{
    background-color: rgb(3, 184, 12);
    width: 20px;
    height: 20px;
    display: inline-block;
}

.gameover{
    width: 150px;
    height: 40px;
    background-color: rgb(153, 173, 202);
    font-family: 'Press Start 2P', cursive;
    
    z-index: 1000;
    margin-top: 250px;
    margin-left: 95px;
    float: left;
    position: fixed;
    text-align: center;
    padding-top: 20px;
    color: black;
    font-size: 20px;
}

.finish {
    width: 150px;
    height: 40px;
    background-color: rgb(153, 173, 202);
    font-family: 'Press Start 2P', cursive;
    
    z-index: 1000;
    margin-top: 250px;
    margin-left: 95px;
    float: left;
    position: fixed;
    text-align: center;
    padding-top: 20px;
    color: black;
    font-size: 20px;

}

.pausad {

    background-image: url(paused.png);
    
    
    width: 237px;
    height: 109px;
    background-color:none;
    font-family: 'Press Start 2P', cursive;
    
    z-index: 1000;
    margin-top: 240px;
    margin-left: 50px;
    float: left;
    position: fixed;
    text-align: center;
    padding-top: 0px;

}
#spelruta_p{
    line-height: 0pt;
    margin-top: 0;
}

.pil{
text-decoration: none;
color: #1FC23A;
padding-top: 25.92%;
background-size: 100% 100%;
color: rgb(49, 243, 10);
text-shadow: 0px 5px 5px rgb(14, 24, 14);

}
.move{
    position: relative;
    background-image: url(move.png);
    height: 215px;
    width: 215px;
    left: 75px;
    top: 10px;
    display: inline-block;
    z-index: auto;
    
    
}

.logga{
    position: fixed;
    background-image: url(logga.png);
    width: 400px;
    height: 200px;
    margin-top: 30px;
    margin-left: 0px;
    
}

.spela{
    position: fixed;
    background-image: url(spela.png);
    width: 320px;
    height: 102px;
    margin-top: 45vh;
    margin-left: 50px;
    /* box-shadow: 10px 10px 5px rgb(192, 209, 198); */
}

.highscore{
    position: fixed;
    background-image: url(highscore.png);
    width: 320px;
    height: 102px;
    margin-top: 75vh;
    margin-left: 50px;
}
.settings{
    position: fixed;
    background-image: url(settings.png);
    width: 320px;
    height: 102px;
    margin-top: 60vh;
    margin-left: 50px;

}